<!DOCTYPE html>

<!--
  jake Liu, Cindy Liu, Veronika Duvanova, Robert Chen
  RotisserieChicken
  SoftDev
  P01
  2025-12-3
  time spent: 1.5
 -->

<html>
  <head>
    <title>BLACKJACK</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>


  <body>

    <!--NAV BAR-->
    <div class="bg-gray-800">
      <div class="p-5 flex flex-row justify-end">
          <form action="{{ url_for('floor') }}" method="POST" class="px-2"><input type="submit" value="GAME FLOOR"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('profile') }}" method="POST" class="px-2"><input type="submit" value="PROFILE"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('logout') }}" class="px-2"><input type="submit" value="LOG OUT"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
       </div>
    </div>




  <div id="Deck" class="container">
    <img src = "https://www.deckofcardsapi.com/static/img/back.png" width=8% height=8%>
  </div>

  {% if game is active %}
  <div id="dealer_hand" class="container flex flex-row">
    <img src={{ opponent_card_1 }}width=8% height=8%>
    <img src="https://www.deckofcardsapi.com/static/img/back.png" width=8% height=8%>
  </div>
  {% endif %}
  {% if game is active %}
  <div id="player_hand" class="container flex flex-row">
    <img src={{ player_card_1 }}width=8% height=8%>
    <img src={{ player_card_2 }}width=8% height=8%>
  </div>
  {% endif %}

  <div id = "hit_button" class = "button">

  </div>


    </body>
</html>
