<!DOCTYPE html>

<!--
  jake Liu, Cindy Liu, Veronika Duvanova, Robert Chen
  RotisserieChicken
  SoftDev
  P01
  2025-12-3
  time spent: 1.5
 -->

<html>
  <head>
    <title>BLACKJACK</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>


  <body>

    <!--NAV BAR-->
    <div class="bg-gray-800">
      <div class="p-5 flex flex-row justify-end">
          <form action="{{ url_for('floor') }}" method="POST" class="px-2"><input type="submit" value="GAME FLOOR"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('profile') }}" method="POST" class="px-2"><input type="submit" value="PROFILE"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('logout') }}" class="px-2"><input type="submit" value="LOG OUT"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
       </div>
    </div>

  <div id="Deck" class="flex justify-center pt-10">
    <img src = "https://www.deckofcardsapi.com/static/img/back.png" width=8% height=8%>
  </div>
  {% if not is_game_active %}
    <div id="start_game" class="flex justify-center pt-10">
<form action="" method="POST">
  <button name="start_game" class="p-2 uppercase font-bold text-center bg-gray-100 rounded-lg" value="deal">Deal</button>
</form>
</div>
  {% endif %}


    {% if is_game_active %}
  <div id="game" class="flex justify-center pt-10">
       <div class="flex flex-col gap-10">
         <div id="dealer_hand" class="flex flex-row">
           <img src={{ opponent_card_1 }}width=20% height=20%>
           <img src="https://www.deckofcardsapi.com/static/img/back.png" width=40% height=40%>
         </div>
         </div>
         </div>
  {%endif%}

    {% if is_game_active %}
  <div id="player-hand" class="container flex flex-row">
    {% for card in player_hand %}
    <img class="aspect-auto w-1/6" src={{ card["image"] }}>
    {% endfor %}
  </div>
  {%endif%}

  {% if is_game_active %}
    <div id="buttons" class="flex justify-center pt-10 space-x-5">
<form action="" method="POST">
  <button name="hit" class="p-2 uppercase font-bold text-center bg-gray-100 rounded-lg" value="hit">|  Hit  |</button>
</form>
<form action="" method="POST">
  <button name="stand" class="p-2 uppercase font-bold text-center bg-gray-100 rounded-lg" value="stand">|Stand|</button>
</form>
</div>
  {% endif %}


  <form action="" method="POST">
    <h3 class="p-2 uppercase font-bold text-center bg-gray-500 rounded-lg">Bet Amount</h3>
    <input class="mt-2 mb-8 rounded-base w-full border border-default-medium" type="text" name="bet">
</form>

    </body>
</html>
