<!DOCTYPE html>

<!--
     rotisserechicken ()
     p01
     Softdev
     12/3/25--12/22/25
     time spent: many hours over the course of three weeks
-->

<html>
  <body>
    <h1>
    <div class="sign3">This is the Floor</div>
  </h1>
      <div class="title">Hey there, {{username}}!</div>

		<button class="buttons" onclick= "document.location='/profile'">Profile</button>

    <div class="forms">
		    <form>
          <input type="submit" formmethod="post" name="logout" value="Logout">
      </form>
    </div>
  </body>
</html>
