<!DOCTYPE html>

<!--
  jake Liu, Cindy Liu, Veronika Duvanova, Robert Chen
  RotisserieChicken
  SoftDev
  P01
  2025-12-3
  time spent: 1.5
 -->

<html>
  <head>
    <title>LOG IN</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>
  <body>

    <!--NAV BAR-->


    <div class="bg-gray-800">
      <div class="p-5 flex flex-row justify-end">
          <a href="{{ url_for('register') }}" class="px-2"><input type="submit" value="REGISTER"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></a>
      </div>
    </div>




    <h1 class="text-3xl text-center uppercase my-3 font-bold">LOG IN HERE:</h1>

    <div class="mx-[30%] flex flex-col items-center">
      <div class="w-[500px] my-5 bg-gray-400 flex flex-col items-center rounded-md">
        <form action="{{ url_for('login') }}" method="POST" class="my-3">
            <h3 class="p-2 uppercase font-bold text-center bg-gray-500 rounded-lg">Username:</h3>
            <input class="mt-2 mb-8 rounded-base w-full border border-default-medium" type="text" name="username" required>

            <h3 class="p-2 uppercase font-bold text-center bg-gray-500 rounded-lg">Password:</h3>
            <input class="mt-2 mb-8" type="text" name="password" required>

            <h3></h3>            
            <input class="font-semibold bg-gray-800 rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 mb-5 px-5" type="submit" value="LOG IN">          

        </form>

        <div class="p-2 m-2 uppercase font-semibold rounded-lg text-white">
            {{ text }}
      </div>
    </div>

  </body>

</html>
