<!DOCTYPE html>
<!--
  jake Liu, Cindy Liu, Veronika Duvanova, Robert Chen
  RotisserieChicken
  SoftDev
  P01
  2025-12-3
  time spent: 1.5
 -->

<html>
  <head>
    <title>Heads-up Poker</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>

  <body>
    <!--NAV BAR-->
    <div class="bg-gray-800">
      <div class="p-5 flex flex-row justify-end">
          <form action="{{ url_for('floor') }}" method="POST" class="px-2"><input type="submit" value="GAME FLOOR"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('profile') }}" method="POST" class="px-2"><input type="submit" value="PROFILE"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('logout') }}" class="px-2"><input type="submit" value="LOG OUT"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
       </div>
    </div>

    <div id="game" class="flex pt-10 fixed left-1/4 -translate-x-1/2">

        <div class="flex flex-col gap-5">
          <h3>OPPONENT {{ final_hand[1] }}</h3>
          <div id="opponent-hand" class="container flex flex-row space-x-1">
            {% for card in opponent_hand %}
              {% if not is_game_over %}
              <img class="aspect-auto w-32" src="https://deckofcardsapi.com/static/img/back.png">
              {% else %}
              <img class="aspect-auto w-32" src={{ card["image"] }}>
              {% endif %}
            {% endfor %}
          </div>

        <div id="board" class="container flex flex-row space-x-1">
          {% for card in board %}
          <img class="aspect-auto w-32" src={{ card["image"] }}>
          {% endfor %}
        </div>

        <h3>YOU {{ final_hand[0] }}</h3>
        <div id="player-hand" class="container flex flex-row space-x-1">
          {% for card in player_hand %}
            {% if not is_game_active %}
              <img class="aspect-auto w-32" src="https://deckofcardsapi.com/static/img/back.png">
            {% else %}
              <img class="aspect-auto w-32" src={{ card["image"] }}>
            {% endif %}
          {% endfor %}
        </div>

        {% if is_game_active %}
        {% if is_player_turn and not is_game_over %}
        <div id="player-actions" class="container flex flex-row space-x-2">

          {% if not is_betting %}
          <form action="" method="POST" class="w-1/3 p-2 uppercase font-semibold bg-gray-800 rounded-lg text-white hover:bg-gray-500 hover:text-gray-800 py-3 px-50px">
            <button name="player_action" value="FOLD" class="w-full">Fold</button>
          </form>          

          <form action="" method="POST" class="w-1/3 p-2 uppercase font-semibold bg-gray-800 rounded-lg text-white hover:bg-gray-500 hover:text-gray-800 py-3 px-50px">
            <button name="player_action" value="CHECK" class="w-full">Check</button>
          </form>          

          <form action="" method="POST" class="w-1/3 p-2 uppercase font-semibold bg-gray-800 rounded-lg text-white hover:bg-gray-500 hover:text-gray-800 py-3 px-50px">
            <button name="player_action" value="BET" class="w-full">Bet</button>
          </form>

          {% else %}
          <form action="" method="POST" class="flex flex-col justify-center bg-gray-500">
              <h3 class="p-2 uppercase font-bold text-center bg-gray-500 rounded-lg">Bet Amount</h3>
              <input class="mx-auto mt-2 mb-8 rounded-base w-2/3 border border-default-medium" type="text" name="bet_amt">
              <input type="submit" value="Bet"
            class="font-semibold bg-gray-800 rounded-lg text-white hover:bg-white hover:text-gray-800 px-5 shadow-md shadow-white">
          </form>
          {% endif %}
        
        {% elif not is_game_over %}
          <form action="" method="POST" class="w-1/3 p-2 uppercase font-semibold bg-gray-800 rounded-lg text-white hover:bg-gray-500 hover:text-gray-800 py-3 px-50px">
            <button name="player_action" value="NEXT" class="w-full">Next</button>
          </form>
        {% else %}
          <form action="" method="POST" class="w-1/3 p-2 uppercase font-semibold bg-gray-800 rounded-lg text-white hover:bg-gray-500 hover:text-gray-800 py-3 px-50px">
            <button name="player_action" value="RESTART" class="w-full">Play Again</button>
          </form>
        </div>


        {% endif %}
        {% endif %}
      </div>
      <h3 class="text-red-500 justify-center">{{ error | safe }}</h3>
    </div>   
    </div>

    <div id="info" class="flex flex-col w-1/4 fixed right-1/4 translate-x-1/4">
      <div class="my-5 mx-5 bg-gray-500 flex flex-col items-center">
        <h3 class="w-full p-2 uppercase font-bold text-center bg-gray-500">Balance: ${{ balance }}</h3>
        <h3 class="w-full p-2 uppercase font-bold text-center bg-gray-500">Pot: ${{ pot }}</h3>
        {% if not is_game_active %}
        <form action="" method="POST" class="w-1/3 m-5 p-2 uppercase font-semibold bg-gray-800 rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-50">
            <button name="start_game" value="DEAL" class="w-full text-center">Deal</button>
        </form>
        {% else %}
        <form action="" method="POST" class="w-1/3 m-5 p-2 uppercase font-semibold bg-gray-800 opacity-75 rounded-lg text-white py-3 px-50 cursor-not-allowed">
            <button name="" value="DEAL" class="w-full text-center pointer-events-none">Deal</button>
        </form>
        {% endif %}
        
      </div>

    </div>
  </div>

    {% if is_game_over %}
    <div id="game_over" class="flex h-screen justify-center items-center">   
      <div class="w-full p-12 bg-gray-800 opacity-75">
          {% if winner == 0 %}
          <h3 class="text-6xl text-yellow-500 text-center">You won!</h3>
          {% else %}
          <h3 class="text-6xl text-red-500 text-center">You lost! {{ insult }}</h3>
          {% endif %}
        </div>
    </div>
    {% endif %}
  </body>
</html>
