<!DOCTYPE html>

<!--
  jake Liu, Cindy Liu, Veronika Duvanova, Robert Chen
  RotisserieChicken
  SoftDev
  P01
  2025-12-3
  time spent: 1.5
 -->

<html>
  <head>
    <title>{{ username }}'s PROFILE</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>
  <body>

    <!--NAV BAR-->
    <div class="bg-gray-800">
      <div class="p-5 flex flex-row justify-end">
          <form action="{{ url_for('floor') }}" method="POST" class="px-2"><input type="submit" value="GAME FLOOR"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('profile') }}" method="POST" class="px-2"><input type="submit" value="PROFILE"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('logout') }}" class="px-2"><input type="submit" value="LOG OUT"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
       </div>
    </div>


    <h1 class="text-3xl text-center uppercase my-3 font-bold">{{ username }}'s Account</h1>



    <div class="p-5 flex flex-row">


    <div class="flex flex-col">
      <div class="my-5 mx-5 bg-gray-400 flex flex-col items-center">
        <h3 class="w-full p-2 uppercase font-bold text-center bg-gray-500">Username: {{ username }}</h3>
        <form action="{{ url_for('change') }}" method="POST" class="px-2 m-5"><input 
          class="font-semibold bg-gray-800 rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5" type="submit" value="EDIT PROFILE"></form>
      </div>

      <div class="my-5 mx-5 bg-gray-400 flex flex-col items-center">        
        <h3 class="w-full p-2 uppercase font-bold text-center bg-gray-500">Current Balance: ${{ balance }}</h3>
        <form action="{{ url_for('charge') }}" method="POST" class="px-2 m-5"><input 
          class="font-semibold bg-gray-800 rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5" type="submit" value="ADD TO BALANCE"></form>
      </div>
    </div>

              {% if game_history %}
                {% for game in game_history %}
                    <h3>{{ game['title'] }}</h3>
                    <p>{{ game['win_rate'] }}</p>
                {% endfor %}
              {% else %}
                <p>You haven't played any games yet.</p>
              {% endif %}

    </div>

  </body>
</html>
