<!DOCTYPE html>

<!--
  jake Liu, Cindy Liu, Veronika Duvanova, Robert Chen
  RotisserieChicken
  SoftDev
  P01
  2025-12-3
  time spent: 1.5
 -->

<html>
  <head>
    <title>{{ username }}'s PROFILE</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>

    <! TEMPORARY NAV BAR, FIX ACCORDINGLY>
    <nav>
      <form action="/" method="POST"><input type="submit" value="GAME FLOOR"></form>
      <form action="/profile" method="POST"><input type="submit" value="GAME FLOOR"></form>
      <form action="/logout" method="POST"><input type="submit" value="LOG OUT"></form>
    </nav>

    <h1>{{ username }}'s Account</h1>

    <h3>Current Balance: {{ balance }}</h3>
    <form action="/charge" method="POST"><input class="button" type="submit" value="ADD TO BALANCE"></form>


      {% if game_history %}
        {% for game in game_history %}
            <h3>{{ game['title'] }}</h3>
            <p>{{ game['profit'] }}</p>
        {% endfor %}
      {% else %}
        <p>You haven't played any games yet.</p>
      {% endif %}

  </body>
</html>
