<!DOCTYPE html>

<!--Concept of this page:
- add a restart button
  - user selects 1 item from FOUNDATIONS, STOCK, WASTE, OR TABLEAU and calls the function
    -> if the one item is a hidden card at the top of a tableau, show the card
    -> if the one item is an ace at the top of a tableau, place it in foundation pile
    -> if the one item is a stock card, place it (not hidden) on top of the waste pile
    -> ELSE, record active card and reload page
      -> user selects an item from TOP OF FOUNDATIONS or TOP OF TABLEAU and calls the function
        -> if second item is a TABLEAU, check if tableau is empty
          -> if empty and active card is a King: move the King
          -> if empty and active card is not a King: INVALID MOVE
          -> is not empty and active card is (same color) OR (not next #): INVALID MOVE
          -> ELSE: move the item and all the cards beneath it
          -> AFTER ALL THESE IFS, IF ACTIVE CARD IS A FOUNDATION, SHOW THE NEXT FOUNDATION CARD
        -> if second item is a FOUNDATION:
          -> if foundation is empty, INVALID move
          -> if card on top of foundation is (different house) OR (not next #): INVALID move
          -> if active card is NOT top of pile: INVALID move
          -> ELSE: move card into foundation
-->

<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>

  <form action="{{ url_for('solitaire_setup') }}"><input type="submit" value="restart"></form>

  <p>{{ test_text2 }}</p>
  <p>
    {% for key, value in test_text.items() %}
      {{ key }}
      <br>
      {% for i in value %}
        {{ i }}
        <br>
      {% endfor %}
    {% endfor %}
  </p>
  <div id="top" class="container flex flex-row">

    <!--this is The Stock Pile -->
    <div id="stock" class="container">
      stock
      <form method="POST" action="{{ url_for('solitaire') }}">
        {% if test_text['stock'] %}
          <input type="hidden" name="card" value="{{ test_text['stock'][0] }}">
          <button type="submit" name="pile" value="stock">
          <img src="https://deckofcardsapi.com/static/img/back.png" alt="tableau1 card" style="height:157px; width:113px;">
        {% else %}
          <input type="hidden" name="card" value="">
          <button type="submit" name="pile" value="stock" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
        {% endif %}
        </button>
      </form>
    </div>

    <!--this is The Waste Pile -->
    <div id="waste" class="container">
      waste<br>
      <form method="POST" action="{{ url_for('solitaire') }}">
        {% if test_text['waste'] %}
          <input type="hidden" name="card" value="{{ test_text['waste'][0] }}">
          <button type="submit" name="pile" value="waste"><img src="{{ test_text['waste'][0][0] }}" alt="waste" class="border border-solid rounded-md" style="height:157px; width:113px;"></img></button>
        {% else %}
          <input type="hidden" name="card" value="">
          <button type="submit" name="pile" value="waste" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
        {% endif %}
      </form>
    </div>

    <!--this is The 4 Foundations Piles-->
    <div id="foundation" class="container flex flex-row">

      <div id="foundation1">
        foundation1
        <form method="POST" action="{{ url_for('solitaire') }}">
        {% if test_text['foundation1'] %}
          <input type="hidden" name="card" value="{{ test_text['foundation1'][0] }}">
          <button type="submit" name="pile" value="foundation1">
            <img src="{{ test_text['foundation1'][0][0] }}" alt="{{ test_text['foundation1'][0][1] }} {{ test_text['foundation1'][0][2] }}" class="border border-solid rounded-md" style="height:157px; width:113px;">
          </button>
        {% else %}
          <input type="hidden" name="card" value="">
          <button type="submit" name="pile" value="foundation1" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
        {% endif %}
        </form>
      </div>

      <div id="foundation2">
        foundation2
        <form method="POST" action="{{ url_for('solitaire') }}">
        {% if test_text['foundation2'] %}
          <input type="hidden" name="card" value="{{ test_text['foundation2'][0] }}">
          <button type="submit" name="pile" value="foundation2">
            <img src="{{ test_text['foundation2'][0][0] }}" alt="{{ test_text['foundation2'][0][1] }} {{ test_text['foundation2'][0][2] }}" class="border border-solid rounded-md" style="height:157px; width:113px;">
          </button>
        {% else %}
          <input type="hidden" name="card" value="">
          <button type="submit" name="pile" value="foundation2" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
        {% endif %}
        </form>
      </div>

      <div id="foundation3">
        foundation3
        <form method="POST" action="{{ url_for('solitaire') }}">
        {% if test_text['foundation3'] %}
          <input type="hidden" name="card" value="{{ test_text['foundation3'][0] }}">
          <button type="submit" name="pile" value="foundation3">
            <img src="{{ test_text['foundation3'][0][0] }}" alt="{{ test_text['foundation3'][0][1] }} {{ test_text['foundation3'][0][2] }}" class="border border-solid rounded-md" style="height:157px; width:113px;">
          </button>
        {% else %}
          <input type="hidden" name="card" value="">
          <button type="submit" name="pile" value="foundation3" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
        {% endif %}
        </form>
      </div>

      <div id="foundation4">
        foundation4
        <form method="POST" action="{{ url_for('solitaire') }}">
        {% if test_text['foundation4'] %}
          <input type="hidden" name="card" value="{{ test_text['foundation4'][0] }}">
          <button type="submit" name="pile" value="foundation4">
            <img src="{{ test_text['foundation4'][0][0] }}" alt="{{ test_text['foundation4'][0][1] }} {{ test_text['foundation4'][0][2] }}" class="border border-solid rounded-md" style="height:157px; width:113px;">
          </button>
        {% else %}
          <input type="hidden" name="card" value="">
          <button type="submit" name="pile" value="foundation4" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
        {% endif %}
        </form>
      </div>

    </div>

  </div>

  <!--this is The 7 Tableau Piles-->
  <div id="tableau" class="container">

    <div id="tableau1">
      tableau1<br>
      <form method="POST" action="{{ url_for('solitaire') }}">
      {% if test_text['tableau1'] %}
        {% for item in test_text['tableau1'] %}
          <input type="hidden" name="card" value="{{ item }}">
          <button type="submit" name="pile" value="tableau1">
            {% if item[3] == 'back' %}
              <img src="https://deckofcardsapi.com/static/img/back.png" alt="tableau1 card" style="height:157px; width:113px;">
            {% else %}
              <img src="{{ item[0] }}" alt="{{ item[1] }} {{ item[2] }}" style="height:157px; width:113px;">
            {% endif %}
          </button>
        {% endfor %}
      {% else %}
        <input type="hidden" name="card" value="">
        <button type="submit" name="pile" value="tableau1" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
      {% endif %}
      </form>
    </div>

    <div id="tableau2">
      tableau2<br>
      <form method="POST" action="{{ url_for('solitaire') }}">
      {% if test_text['tableau2'] %}
        {% for item in test_text['tableau2'] %}
          <input type="hidden" name="card" value="{{ item }}">
          <button type="submit" name="pile" value="tableau2">
            {% if item[3] == 'back' %}
              <img src="https://deckofcardsapi.com/static/img/back.png" alt="tableau2 card" style="height:157px; width:113px;">
            {% else %}
              <img src="{{ item[0] }}" alt="{{ item[1] }} {{ item[2] }}" style="height:157px; width:113px;">
            {% endif %}
          </button>
        {% endfor %}
      {% else %}
        <input type="hidden" name="card" value="">
        <button type="submit" name="pile" value="tableau2" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
      {% endif %}
      </form>
    </div>

    <div id="tableau3">
      tableau3<br>
      <form method="POST" action="{{ url_for('solitaire') }}">
      {% if test_text['tableau3'] %}
        {% for item in test_text['tableau3'] %}
          <input type="hidden" name="card" value="{{ item }}">
          <button type="submit" name="pile" value="tableau3">
            {% if item[3] == 'back' %}
              <img src="https://deckofcardsapi.com/static/img/back.png" alt="tableau3 card" style="height:157px; width:113px;">
            {% else %}
              <img src="{{ item[0] }}" alt="{{ item[1] }} {{ item[2] }}" style="height:157px; width:113px;">
            {% endif %}
          </button>
        {% endfor %}
      {% else %}
        <input type="hidden" name="card" value="">
        <button type="submit" name="pile" value="tableau3" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
      {% endif %}
      </form>
    </div>

    <div id="tableau4">
      tableau4<br>
      <form method="POST" action="{{ url_for('solitaire') }}">
      {% if test_text['tableau4'] %}
        {% for item in test_text['tableau4'] %}
          <input type="hidden" name="card" value="{{ item }}">
          <button type="submit" name="pile" value="tableau4">
            {% if item[3] == 'back' %}
              <img src="https://deckofcardsapi.com/static/img/back.png" alt="tableau4 card" style="height:157px; width:113px;">
            {% else %}
              <img src="{{ item[0] }}" alt="{{ item[1] }} {{ item[2] }}" style="height:157px; width:113px;">
            {% endif %}
          </button>
        {% endfor %}
      {% else %}
        <input type="hidden" name="card" value="">
        <button type="submit" name="pile" value="tableau4" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
      {% endif %}
      </form>
    </div>

    <div id="tableau5">
      tableau5<br>
      <form method="POST" action="{{ url_for('solitaire') }}">
      {% if test_text['tableau5'] %}
        {% for item in test_text['tableau5'] %}
          <input type="hidden" name="card" value="{{ item }}">
          <button type="submit" name="pile" value="tableau5">
            {% if item[3] == 'back' %}
              <img src="https://deckofcardsapi.com/static/img/back.png" alt="tableau5 card" style="height:157px; width:113px;">
            {% else %}
              <img src="{{ item[0] }}" alt="{{ item[1] }} {{ item[2] }}" style="height:157px; width:113px;">
            {% endif %}
          </button>
        {% endfor %}
      {% else %}
        <input type="hidden" name="card" value="">
        <button type="submit" name="pile" value="tableau5" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
      {% endif %}
      </form>
    </div>

    <div id="tableau6">
      tableau6<br>
      <form method="POST" action="{{ url_for('solitaire') }}">
      {% if test_text['tableau6'] %}
        {% for item in test_text['tableau6'] %}
          <input type="hidden" name="card" value="{{ item }}">
          <button type="submit" name="pile" value="tableau6">
            {% if item[3] == 'back' %}
              <img src="https://deckofcardsapi.com/static/img/back.png" alt="tableau6 card" style="height:157px; width:113px;">
            {% else %}
              <img src="{{ item[0] }}" alt="{{ item[1] }} {{ item[2] }}" style="height:157px; width:113px;">
            {% endif %}
          </button>
        {% endfor %}
      {% else %}
        <input type="hidden" name="card" value="">
        <button type="submit" name="pile" value="tableau6" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
      {% endif %}
      </form>
    </div>

    <div id="tableau7">
      tableau7<br>
      <form method="POST" action="{{ url_for('solitaire') }}">
      {% if test_text['tableau7'] %}
        {% for item in test_text['tableau7'] %}
          <input type="hidden" name="card" value="{{ item }}">
          <button type="submit" name="pile" value="tableau7">
            {% if item[3] == 'back' %}
              <img src="https://deckofcardsapi.com/static/img/back.png" alt="tableau7 card" style="height:157px; width:113px;">
            {% else %}
              <img src="{{ item[0] }}" alt="{{ item[1] }} {{ item[2] }}" style="height:157px; width:113px;">
            {% endif %}
          </button>
        {% endfor %}
      {% else %}
        <input type="hidden" name="card" value="">
        <button type="submit" name="pile" value="tableau7" class="border border-solid rounded-md" style="padding-top:157px; padding-left:113px;"></button>
      {% endif %}
      </form>
    </div>

  </div>
  <br>
</html>
