<!DOCTYPE html>

<!--Concept of this page:
- add a restart button
  - user selects 1 item from FOUNDATIONS, STOCK, WASTE, OR TABLEAU and calls the function
    -> if the one item is a hidden card at the top of a tableau, show the card
    -> if the one item is an ace at the top of a tableau, place it in foundation pile
    -> if the one item is a stock card, place it (not hidden) on top of the waste pile
    -> ELSE, record active card and reload page
      -> user selects an item from TOP OF FOUNDATIONS or TOP OF TABLEAU and calls the function
        -> if second item is a TABLEAU, check if tableau is empty
          -> if empty and active card is a King: move the King
          -> if empty and active card is not a King: INVALID MOVE
          -> is not empty and active card is (same color) OR (not next #): INVALID MOVE
          -> ELSE: move the item and all the cards beneath it
          -> AFTER ALL THESE IFS, IF ACTIVE CARD IS A FOUNDATION, SHOW THE NEXT FOUNDATION CARD
        -> if second item is a FOUNDATION:
          -> if foundation is empty, INVALID move
          -> if card on top of foundation is (different house) OR (not next #): INVALID move
          -> if active card is NOT top of pile: INVALID move
          -> ELSE: move card into foundation
-->

<html>
  <p>{{test_text}}</p>
  <div id="top" class="container">

    <!--this is The Stock Pile -->
    <div id="stock" class="container">
      stock
      <form method="POST" action="{{ url_for('solitaire') }}"><button type="submit" name="pile" value="stock">card</button></a>
    </div>

    <!--this is The Waste Pile -->
    <div id="waste" class="container">
      waste
      <button type="submit" name="waste">card</button>
    </div>

    <!--this is The 4 Foundations Piles-->
    <div id="foundations" class="container flex flex-row">

      <div id="foundations1">
        foundations1
        <button type="submit" name="foundations1">card</button>
      </div>

      <div id="foundations2">
        foundations2
        <button type="submit" name="foundations2">card</button>
      </div>

      <div id="foundations3">
        foundations3
        <button type="submit" name="foundations3">card</button>
      </div>
value
      <div id="foundations4">
        foundations4
        <button type="submit" name="foundations4">card</button>
      </div>

    </div>

  </div>

  <!--this is The 7 Tableau Piles-->
  <div id="tableau" class="container">

    <div id="tableau1">
      tableau1
      <button type="submit" name="tableau1">card</button>
    </div>

    <div id="tableau2">
      tableau2
      <button type="submit" name="tableau2">card</button>
    </div>

    <div id="tableau3">
      tableau3
      <button type="submit" name="tableau3">card</button>
    </div>

    <div id="tableau4">
      tableau4value
      <button type="submit" name="tableau4">card</button>
    </div>

    <div id="tableau5">
      tableau5
      <button type="submit" name="tableau5">card</button>
    </div>

    <div id="tableau6">
      tableau6value
      <button type="submit" name="tableau6">card</button>
    </div>

    <div id="tableau7">
      tableau7
      <button type="submit" name="tableau7">card</button>
    </div>

  </div>
  <br>
</html>
