<!DOCTYPE html>

<!--
  jake Liu, Cindy Liu, Veronika Duvanova, Robert Chen
  RotisserieChicken
  SoftDev
  P01
  2025-12-3
  time spent: 1.5
 -->

<html>
  <head>
    <title>TAROT CARDS</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  </head>
  <body>

    <! TEMPORARY NAV BAR, FIX ACCORDINGLY>
    <nav>
      <form action="/" method="POST"><input type="submit" value="GAME FLOOR"></form>
      <form action="/profile" method="POST"><input type="submit" value="PROFILE"></form>
      <form action="/logout" method="POST"><input type="submit" value="LOG OUT"></form>
    </nav>

    <h1>Tarot Card Matching Game</h1>

    <h3>How to Play: In this classic memory card game, also known as concentration, flip over two cards at a time.
      Try to remember the location of each card and find the matching pairs.</h3>

    <h3>{{ card['title'] }}<h3>
    <p>{{ card['meaning_up']}} </p>
    

  </body>
</html>
