<!DOCTYPE html>

<!--
  jake Liu, Cindy Liu, Veronika Duvanova, Robert Chen
  RotisserieChicken
  SoftDev
  P01
  2025-12-3
  time spent: 1.5
 -->

<html>
  <head>
    <title>TAROT CARDS</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
  </head>


  <body>

    <!--NAV BAR-->
    <div class="bg-gray-800">
      <div class="p-5 flex flex-row justify-end">
          <form action="{{ url_for('floor') }}" method="POST" class="px-2"><input type="submit" value="GAME FLOOR"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('profile') }}" method="POST" class="px-2"><input type="submit" value="PROFILE"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
          <form action="{{ url_for('logout') }}" class="px-2"><input type="submit" value="LOG OUT"
            class="font-semibold bg-transparent rounded-lg text-white hover:bg-white hover:text-gray-800 py-3 px-5 shadow-md shadow-white"></form>
       </div>
    </div>

    <h1 class="text-3xl text-center uppercase my-3 font-bold">The Tarot Terrain</h1>

    <h3 class="p-2 mx-5">How to Play: Flip over two cards at a time.
        Try to remember the location of each card and find the matching pairs.
        Explore the meaning of the card using the description on the side!</h3>

    <!-SCREEN>
    <div class="flex flex-row">

        <!-CARD GRID>
        <div class="flex flex-col">        
        
            <div class="w-1/2 flex flex-row">

                      <button type="submit">
                          <img src="../static/tarot_back.png" alt="unknown tarot card">
                      </button>
                      <button type="submit">
                          <img src="../static/tarot_back.png" alt="unknown tarot card">
                      </button>
                      <button type="submit">
                          <img src="../static/tarot_back.png" alt="unknown tarot card">
                      </button>
                      <button type="submit">
                          <img src="../static/tarot_back.png" alt="unknown tarot card">
                      </button>
            </div>
            <div class="w-1/2 flex flex-row">

                      <button type="submit">
                          <img src="../static/tarot_back.png" alt="unknown tarot card">
                      </button>
                      <button type="submit">
                          <img src="../static/tarot_back.png" alt="unknown tarot card">
                      </button>
                      <button type="submit">
                          <img src="../static/tarot_back.png" alt="unknown tarot card">
                      </button>
                      <button type="submit">
                          <img src="../static/tarot_back.png" alt="unknown tarot card">
                      </button>
            </div>

        </div>

        <!-DESCRIPTION>
        <div class="w-1/2 my-5 mx-5 bg-gray-400 flex flex-col items-center">        
            <h3 class="w-full p-2 uppercase font-bold text-center bg-gray-500 text-white">CARD NAME some variable</h3>
            <p class="p-2 text-center">Some descriptive text</p>
        </div>

    </div>

  </body>
</html>
